commands:
  01_change_sudoers:
    command: "/tmp/change-sudoers.sh"

files:
  "/tmp/change-sudoers.sh":
      mode: "000755"
      content : |
        #!/bin/bash

        SUDO_STRING="nodejs ALL=(#1000)NOPASSWD:/bin/mkdir,/bin/ls,/bin/cp"
        MATCH_LENGTH=$(sudo cat /etc/sudoers | grep -c "$SUDO_STRING")

        if(( $MATCH_LENGTH>0 )); then
          echo "The addition to sudoers has already been created"
        else
          echo "$SUDO_STRING" >> /etc/sudoers
          echo "Addition to sudoers created"
        fi

        unset SUDO_STRING
        unset MATCH_LENGTH