Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["qbraid-jhub"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;

          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;

          ssl_session_timeout  5m;

          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
              set $year $1;
              set $month $2;
              set $day $3;
              set $hour $4;
          }
          access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          access_log  /var/log/nginx/access.log  main;

          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
              proxy_set_header Upgrade $http_upgrade;
              proxy_set_header Connection "upgrade";
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFjDCCBHSgAwIBAgIQDtgmbzltjffO7lhG5EizeTANBgkqhkiG9w0BAQsFADBu
      MQswCQYDVQQGEwJVUzEVMBMGA1UEChMMRGlnaUNlcnQgSW5jMRkwFwYDVQQLExB3
      d3cuZGlnaWNlcnQuY29tMS0wKwYDVQQDEyRFbmNyeXB0aW9uIEV2ZXJ5d2hlcmUg
      RFYgVExTIENBIC0gRzEwHhcNMjAxMjMxMDAwMDAwWhcNMjExMjMwMjM1OTU5WjAX
      MRUwEwYDVQQDDAwqLnFicmFpZC5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAw
      ggEKAoIBAQCEN6oF18lLfV0s+e7OWikVcWWrbkAFdmMJYFkBJvwGA/Hb7ze9hChn
      FLN+E9W8HVqBVDlSfY1i2xw63mMinA94M5erO0Wfl0AelqeoBbxjhbh8rzdG38eh
      MZ+raAd5jX9Q9aONF2F7up/HJD9id1D/ZL/AALNrA/VxQWCPrXgnzw1pomznyNeK
      s3BoY1JHHmbtHZ+ru12GdcJfTL5uo5sGT4t+0KZNXBYYL7T6LiOjLU+zY/NNLsQq
      CDV2DjnlGLqLVDY+Ae6cVR0sHCCG9rMavRd9Hh4imocbwYn10BUPnr5jTMVVw1q8
      7rS4nlq/8uDOi3h32gO9MjXO7I71NKspAgMBAAGjggJ7MIICdzAfBgNVHSMEGDAW
      gBRVdE+yck/1YLpQ0dfmUVyaAYca1zAdBgNVHQ4EFgQUrXunTBCejElSrM6vWMg6
      QZ+P2U0wIwYDVR0RBBwwGoIMKi5xYnJhaWQuY29tggpxYnJhaWQuY29tMA4GA1Ud
      DwEB/wQEAwIFoDAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwTAYDVR0g
      BEUwQzA3BglghkgBhv1sAQIwKjAoBggrBgEFBQcCARYcaHR0cHM6Ly93d3cuZGln
      aWNlcnQuY29tL0NQUzAIBgZngQwBAgEwgYAGCCsGAQUFBwEBBHQwcjAkBggrBgEF
      BQcwAYYYaHR0cDovL29jc3AuZGlnaWNlcnQuY29tMEoGCCsGAQUFBzAChj5odHRw
      Oi8vY2FjZXJ0cy5kaWdpY2VydC5jb20vRW5jcnlwdGlvbkV2ZXJ5d2hlcmVEVlRM
      U0NBLUcxLmNydDAJBgNVHRMEAjAAMIIBAwYKKwYBBAHWeQIEAgSB9ASB8QDvAHYA
      9lyUL9F3MCIUVBgIMJRWjuNNExkzv98MLyALzE7xZOMAAAF2uxdFVQAABAMARzBF
      AiEAwxJHZdar/YwgxkSa+mfCx4vWRKlZnxRcVpWis/o4T4ACIB4QYVpJD91rt9ln
      vDYu8fNFIDz5NF/upqjlIilvrGV7AHUAXNxDkv7mq0VEsV6a1FbmEDf71fpH3KFz
      lLJe5vbHDsoAAAF2uxdFoQAABAMARjBEAiAPwCbtBx+a0H91iOkRXzd4MIoczDO4
      iqvRoXeXyFHLEwIgRxaa9tXPsX+tcKAKhsbPo89VPFGdo7qAPPm72J9LCBEwDQYJ
      KoZIhvcNAQELBQADggEBAHhCsNSGoziLEHjmjSwW7RM8tOiEGCVDeWC/aUy+s3ND
      Z9pcjFezugmMP0lNBW5S2Aq9EW/vPsD8jA0A5ojKfIfntNTBUGbxr9OGcVmulVpL
      Dkc7zTujosXO6/tIgzarmesf3O/7ND0ZhWnvb6Gz0/vdFy/G1Bz+K5Y+hp34p83a
      RQiLDMDgL0V/u2w2u70GfQ2cKd8wyNt1lrpV1XzNN5SwZPISH7PIiQ1k8zRjj09E
      LedIXt4De7OX2NX/kJawZwyXSiEa/5GliyyS89rXI0za2Y31VwbsbNn/UgbYF5pS
      ZE8izEIwOQOdiABCMlPF3J//L8/P4HJTQlM4ZsgFvvA=
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://qbraid-jhub.s3.amazonaws.com/server.key
